<html>
<title> TYPES OF FOOD IN INDIA</title>
<link rel="stylesheet" href="../css/style.css">
<body>
<div class="map-img">
  <img src="../img/india-map.jpg" alt="">
</div>
<map name="abc">
    MAP OF INDIA
<area shape="rect" coords="211,40,339,259" href="state/LADHAK.html">
<area shape="rect" coords="215,101,273,143" href="state/JAMMU AND KASHMIR.html">
<area shape="rect" coords="278,198,328,180" href="state/HIMACHAL PRADESH.html">
<area shape="rect" coords="237,191,263,240" href="state/PUNJAB.html">
<area shape="rect" coords="311,234,378,232" href="state/UTTARAKHAND.html">
<area shape="rect" coords="257,267,293,268" href="state/HARYANA.html">
<area shape="rect" coords="128,353,289,351" href="state/RAJASTHAN.html">
<area shape="rect" coords="667,285,688,305" href="state/ARUNACHAL PRADESH.html">
<area shape="rect" coords="339,354,456,366" href="state/UTTER PRADESH.html">
<area shape="rect" coords="552,327,584,336" href="state/SIKKIM.html">
<area shape="rect" coords="456,372,530,377" href="state/BIHAR.html">
<area shape="rect" coords="646,351,681,353" href="state/ASSAM.html">
<area shape="rect" coords="690,351,712,348" href="state/NAGALAND.html">
<area shape="rect" coords="675,385,699,390" href="state/MANIPUR.html">
<area shape="rect" coords="656,423,676,420" href="state/MIZORAM.html">
<area shape="rect" coords="639,407,641,426" href="state/TRIPURA.html">
<area shape="rect" coords="501,437,568,447" href="state/WESTBENGAL.html">
<area shape="rect" coords="458,438,497,435" href="state/JHARKHAND.html">
<area shape="rect" coords="238,428,331,488" href="state/MADHYA PRADESH.html">
<area shape="rect" coords="127,455,217,459" href="state/GUJARAT.html">
<area shape="rect" coords="420,525,483,546" href="state/ODISHA.html">
<area shape="rect" coords="374,542,408,544" href="state/CHATTISGARH.html">
<area shape="rect" coords="266,512,375,521" href="state/MAHARASHTRA.html">
<area shape="rect" coords="303,587,381,596" href="state/TELANGANA.html">
<area shape="rect" coords="211,657,216,674" href="state/GOA.html">
<area shape="rect" coords="308,655,334,730" href="state/ANDHRA PRADESH.html">
<area shape="rect" coords="228,706,284,698" href="state/KARNATAKA.html">
<area shape="rect" coords="291,821,338,820" href="state/TAMILNADU.html">
<area shape="rect" coords="272,826,289,824" href="state/KERALA.html">

</map>
</body>
</html>
